# Ignore everything
*

# Git and Gitignore
!.gitignore

# Don't ignore directories
!*/

# Don't ignore .Rmd files anywhere
!**/*.Rmd
!**/*.md

# R script files
!**/*.R

# R Project files
!**/*.Rproj

# shapefiles
!Data_raw/shapefile/*.geojson
!Data_raw/sdr_subnational_boundaries_2023-08-21/shps/sdr_subnational_boundaries2.*

#Variable key
!Data_raw/variable_key.csv

# session inff
!Session\ info/*.txt

.Rproj.user
